## Data Cleaning

In [1]:
import pandas as pd
import os

In [2]:
train_trans = pd.read_csv("../data/raw/train_transaction.csv")
train_id = pd.read_csv("../data/raw/train_identity.csv")

In [3]:
df = train_trans.merge(train_id, on="TransactionID", how="left")
print(df.shape)

(590540, 434)

In [4]:
missing_pct = df.isnull().mean()
cols_to_drop = missing_pct[missing_pct > 0.9].index
df.drop(columns=cols_to_drop, inplace=True)

In [5]:
df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for col in df.columns:
    if df[col].dtype == "object":
        df[col] = df[col].fillna("missing")
    else:
        df[col] = df[col].fillna(-999)

In [7]:
df

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987000,0,86400,68.50,W,13926,-999.0,150.0,discover,142.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,102.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,166.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,117.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,102.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,3577535,0,15811047,49.00,W,6550,-999.0,150.0,visa,226.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,224.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,224.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,224.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing
590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,102.0,...,missing,-999.0,missing,missing,missing,missing,missing,missing,missing,missing

In [8]:
df.to_csv("../data/processed/cleaned_data.csv", index=False)